{% extends 'base_default.html' %}

{% block tab_title %}
	MASK R-CNN
{% endblock %}

{% block main_title %}
  Instance Segmentation
{% endblock %}

{% block sub_title %}
	MASK R-CNN
{% endblock %}

{% block sub_title_bold %} 
	MASK R-CNN
{% endblock %}

{% block description %}
	is a state-of-the-art model for instance segmentation, developed on top of Faster R-CNN. It is aimed to solve instance segmentation problem in machine learning or computer vision. In other words, it can separate different objects in an image or a video.
{% endblock %}

{% block src %}
	src="{{ url_for('cv_ins_display_image', filename=filename) }}"
	width= "1500" height = "350"
{% endblock %}

{% block URL %} 
/cv/instance_segmentation
{% endblock %}

{% block video_or_image_text %} 
  an image
{% endblock %}

{% block upload_type %}
<input type="file" name="file" autocomplete="off" required>
{% endblock %}

