{% extends 'base_default.html' %}

{% block tab_title %}
  YOLO
{% endblock %}

{% block main_title %}
  Object Detection
{% endblock %}

{% block sub_title %}
  YOLO
{% endblock %}

{% block sub_title_bold %} 
  YOLO
{% endblock %}

{% block description %}
  is an abbreviation for the term 'You Only Look Once'. This is an algorithm that detects and recognizes various objects in a picture (in real-time). Object detection in YOLO is done as a regression problem and provides the class probabilities of the detected images.
{% endblock %}

{% block src %}
src="{{ url_for('cv_obd_YOLO_display_image', filename=filename) }}"
height= "300px" width="700px"
{% endblock %}

{% block URL %} 
/cv/obd/YOLO
{% endblock %}

{% block video_or_image_text %} 
  an image
{% endblock %}

{% block upload_type %}
<input type="file" name="file" autocomplete="off" required>
{% endblock %}

