{% extends 'base_default.html' %}

{% block tab_title %}
Alpha Pose
{% endblock %}

{% block main_title %}
  Pose Estimation
{% endblock %}

{% block sub_title %}
Alpha Pose
{% endblock %}

{% block sub_title_bold %} 
Alpha Pose
{% endblock %}

{% block description %}
is an accurate multi-person pose estimator, which is the first open-source system that achieves 70+ mAP (72.3 mAP) on COCO dataset and 80+ mAP (82.1 mAP) on MPII dataset. To match poses that correspond to the same person across frames, it also provides an efficient online pose tracker called Pose Flow. 
{% endblock %}

{% block src %}
style= "width: 35%" align="center" 
src="{{ url_for('cv_PEST_AlphaPose_display_image', filename=filename) }}"
{% endblock %}

{% block URL %} 
/cv/PEST/AlphaPose
{% endblock %}

{% block options %}
<h6>Are you running the prediction on a human? A cat or is it something else? Please select for best results:</h6> 
  <label for="cars"></label>
  <select name="object" id="cars">
    <option value="1">Human</option>
    <option value="2">Dog</option>
    <option value="3">Horse</option>
    <option value="4">Cat</option>
    <option value="1">Dolphin</option>
    <option value="2">Lion</option>
    <option value="3">Bear</option>
    <option value="4">Bird</option>
  </select>
<br></br>
 {% endblock %}

{% block video_or_image_text %} 
  an image
{% endblock %}

{% block upload_type %}
<input type="file" name="file" autocomplete="off" required>
{% endblock %}

