Flask==2.0.1
genism==3.8.3
gluoncv==0.10.4.post1
ipywidgets==7.6.3
matplotlib==3.3.0
mxnet==1.7.0.post1
numpy
numpydoc
opencv-python==4.5.3.56
pandas==1.1
Pillow==8.3.1
pypaz==0.1.6
transformers==2.8.0
Werkzeug==2.0.1
zipp