{% extends 'base_default.html' %}

{% block tab_title %}
	FCN
{% endblock %}

{% block main_title %}
  Semantic Segmentation
{% endblock %}

{% block sub_title %}
	FCN
{% endblock %}

{% block sub_title_bold %} 
	FCN
{% endblock %}

{% block description %}
  is a network that does not contain any “Dense” layers (as in traditional CNNs) instead it contains 1x1 convolutions that perform the task of fully connected layers (Dense layers).
{% endblock %}

{% block src %}
  src="{{ url_for('cv_ses_FCN_display_image', filename=filename) }}"
{% endblock %}

{% block URL %} 
/cv/semantic_segmentation/FCN
{% endblock %}

{% block video_or_image_text %} 
  an image
{% endblock %}

{% block upload_type %}
<input type="file" name="file" autocomplete="off" required>
{% endblock %}

