
<!doctype html>
<html lang="en">
  <head>
    <title>Emotional Detection</title>
  </head>

<body style="background-color:#fafafa;">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
	<!-- <link href="slider-boxes.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slider-boxes.css') }}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="application/json"></script>
	<!-- <script src="slider-boxes.js"></script> -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/slider-boxes.js') }}"></script>
	
	<!-- <section class="orange-fade p-5 margin-top-xl pos-r"> -->
	  <div class="container">
		   <div class="row">
			<div id="content" class="p-4 p-md-5 pt-5" >
			 <!-- <div id="content" class="p-4 p-md-5 pt-5"> -->
			<h1 style= "font-weight: 400; color:#2F5662;" align="center" >Emotional Detection</h1>
			<p style="color:#458092;">Emotion recognition is the process of identifying human emotion. To date, the most work has been conducted on automating the recognition of facial expressions from video, spoken expressions from audio, written expressions from text, and physiology as measured by wearables. </p>
			<!-- </div> -->
		   <div class="mt-5 pos-r">
			  <div class="carousel-controls testimonial-carousel-controls">
				<div class="control prev"><i class="fa fa-chevron-left text-white">&nbsp;</i></div>
				<div class="control next"><i class="fa fa-chevron-right text-white">&nbsp;</i></div>
			  </div>
			  <div class="testimonial-carousel">
				<div class="one-slide white">
				  <div class="testimonial w-100 h-100  p-3 text-center">
					<div class="message text-center text-gray">Estimate the results of an image using the model:</div>
					<a href="{{ url_for('cv_emd_test_home') }}">Haar Cascade</a>
					<div class="separator">&nbsp;</div>
					<div class="brand" ><img alt="Florida Dairy Farmers" src="/static/emd_1.png" class="mx-auto"/></div>
				  </div>
				</div>
				<div class="one-slide white">
					<div class="testimonial w-100 h-100  p-3 text-center">
					  <div class="message text-center text-gray">Test your own emotions using your webcam!</div>
					  <a href="{{ url_for('cv_emd_index') }}">Use Camera</a>
					  <div class="separator">&nbsp;</div>
					  <div class="brand" ><img alt="Florida Dairy Farmers" src="/static/emd_2.gif" class="mx-auto"/></div>
					</div>
				  </div>
				</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
    </div>
    </body>
    </html>
	<!-- </section> -->
	