{% extends 'base_default.html' %}

{% block tab_title %}
	PSPNet
{% endblock %}

{% block main_title %}
  Semantic Segmentation
{% endblock %}

{% block sub_title %}
PSPNet
{% endblock %}

{% block sub_title_bold %} 
PSPNet (Pyramid Scene Parsing Network)
{% endblock %}

{% block description %}
is the parent network architecture for ICNet. The original PSPNet Caffe models released by Hengshuang Zhao came in two variants: one with a ResNet50 backbone and the other with a ResNet101 backbone.
{% endblock %}

{% block src %}
src="{{ url_for('cv_ses_PSPNet_display_image', filename=filename) }}"
{% endblock %}

{% block URL %} 
/cv/semantic_segmentation/PSPNet
{% endblock %}

{% block video_or_image_text %} 
  an image
{% endblock %}

{% block upload_type %}
<input type="file" name="file" autocomplete="off" required>
{% endblock %}

